<ion-header>
    <ion-navbar>
      <ion-title>
       Nouveau profil
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content >
   
    <ion-item>
      <ion-label floating>Nom</ion-label>
      <ion-input [(ngModel)]="Nom" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating >Prénom</ion-label>
      <ion-input [(ngModel)]="Prenom" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Age</ion-label>
      <ion-input [(ngModel)]="Age" type="number"></ion-input>
    </ion-item>
  
    <ion-item >
      <ion-label floating>Adresse-mail</ion-label>
      <ion-input [(ngModel)]="Adresse_mail" type="text"></ion-input>
    </ion-item>

   <ion-list *ngIf="">
     <ion-item *ngFor="let name of name">
       <ion-label fixed >{{Nom}}</ion-label>
     </ion-item>
   </ion-list>


  <div padding>
    <button id="creerprofil"  ion-button block (tap)="save_myprofil() " >Creer le profil</button>
  </div>
  
  
     
 


  </ion-content> 