page-Scanner{
  
  
#scannerButton
{
    top: 633px;
    left: 273px;
    margin-left: -18px;
    margin-right: 44px;
    background-color: #32db64;
    border-radius: 400px;
    height: 6.8em;
    width: 87px;
}


#icon
{
   font-size: 50px;

}

}

