page-Nprofil{

    #cr { 
          display: block;
          top: 175px;
          margin-left: 0px;
          margin-right: 0px;
          background-color: #32db64;
          border-radius: 400px;
          height: 4.8em;
       }


    #allergies-list{

        margin: 16px 0 32px;
        border-top-color: transparent;
        
    }

}